* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    color: inherit;
}
*:focus {
    outline: none;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', sans-serif;

    background-color: #ecf0f1;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.tiles {
    font-size: 0;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);


    margin: auto;

    text-align: center;

    background-color: wheat;
}
.tiles .tile {
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 225px;
    height: 350px;
    margin: 10px;

    text-align: left;

    opacity: .99;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);
}
.tile:nth-child(1) {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/1.jpg');
    background-size: cover;
}
.tile:nth-child(2) {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/2.jpg');
    background-size: cover;
}
.tile:nth-child(3) {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/3.jpg');
    background-size: cover;
}
.tile:nth-child(4) {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/4.jpg');
    background-size: cover;
}

/*这是一个渐变DIV*/
.tiles .tile:before {
    position: absolute;
    z-index: 2;
    top: 100%; /*通过这种方式隐藏   不能用margin-top 100%  因为margin的百分比都是以父元素的宽度为基准*/

    width: 100%;
    height: 50%;

    content: '';
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-property: top, opacity; /*指的是top opacity这两个属性作为transition的动画*/
            transition-property: top, opacity;

    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .9) 100%);
    background:         linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, .9) 100%);
}

.tile .details {
    font-size: 16px;

    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;

    padding: 20px;

    color: #fff;
}
.tile .details span {
    position: relative;
    top: 100px;

    display: block;

    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-property: all;
            transition-property: all;
}
.tile .details .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
}
.tile .details .info {
    font-size: 12px;
    line-height: 1.2;

    margin-top: 5px;
}

.tile:hover span {
    top: 0;
}
.tile:hover:before {
    top: 50%; /*渐变*/
}

.tile:hover .title {
    -webkit-transition-delay: .15s;
            transition-delay: .15s;
}
.tile:hover .info {
    -webkit-transition-delay: .25s;
            transition-delay: .25s;
}
